.cookie-header {
  width: 100dvw;
  justify-content: center;
  align-items: center;
}

.cookie-logo {
  width: 400px;
  /* animation-name: cookie-logo-rotate;
  animation-iteration-count: infinite; */
  will-change: filter;
  transition: filter 300ms;
  padding-bottom: 20px;
}

@keyframes cookie-logo-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .cookie-logo {
    animation: cookie-logo-rotate infinite 20s linear;
  }
}

.cookie-logo:hover {
  filter: drop-shadow(0 0 2em #f7931a);
}
.cookie-logo.react:hover {
  filter: drop-shadow(0 0 2em #f7931a);
}

.cookie-logo:active {
  filter: drop-shadow(0 0 2em #6c400a);
}

.cookie-logo.react:active {
  filter: drop-shadow(0 0 2em #6c400a);
}

.cookie-info-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.total-cookies-box {
  text-align: left;
  flex-basis: 30ch;
}

.cookies-per-second-box {
  text-align: right;
}
