.shop-container {
  background-color: antiquewhite;
  /* max-width: 450px; */
  justify-content: center;
}

.shop-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
}

.item-increase {
  display: flex;
  flex-basis: 16ch;
  font-size: large;
}

.item-title {
  display: flex;
  flex-basis: 18ch;
  font-size: large;
  font-weight: 400;
}
.item-cost {
  display: flex;
  flex-basis: 16ch;
  font-size: large;
}
