/* .shop-container {
} */

.shop-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: antiquewhite;
  text-align: left;
}

.item-title {
  display: flex;
  flex-basis: 18ch;
  font-size: large;
  font-weight: 400;
}
.item-cost {
  display: flex;
  flex-basis: 16ch;
  font-size: large;
}
